@import '../../assets/styles/variables';
@import '../../assets/styles/helpers';

header {
  background-color: $brand-color;
}

.header {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  @extend .container;

  @media (min-width: 768px) {
    height: 30px;
    flex-direction: row;
    align-items: center;
  }

  &__left {
    margin-bottom: 20px;
    padding: 0 15px;
    @media (min-width: 768px) {
      width: 200px;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &__center {
    padding: 0 15px;
    @media (min-width: 768px) {
      padding: 0;
    }
  }

  &__right {}

  &__link {
    display: inline-block;
    height: 100%;
  }

  &__logo {
    width: 100px;
    @media (min-width: 768px) {
      width: auto;
      height: 100%;
    }
  }

  &__input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 500px;
  }

  &__icon-search {
    display: flex;
    padding: 0 10px;
    cursor: pointer;
  }

  &__search-input-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}